In [1]:
import pandas as pd

In [4]:
df_weather = pd.read_csv('master-weather.csv').drop(columns = 'Unnamed: 0')

In [6]:
df_whisky = pd.read_csv('whisky-shit-merged.csv')

In [9]:
df_whisky = df_whisky.loc[df_whisky['country'] == 'UK']

In [20]:
df_weather = df_weather.loc[df_weather['country'] == 'Scotland'][['Year', 'Precipitation', 'Temperature', 'Max Temperature_y', 'Min Temperature_y']]

KeyError: 'country'

In [25]:
df_weather.rename(columns = {'Year':'vintage'}, inplace = True)

In [29]:
df_whisky['vintage'] = df_whisky['vintage'].astype('int64')

C:\Users\jrand\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [37]:
df_whisky.head()

,age,vintage,bottled,avp,size,price,name,bottling,bottler,loc/type,country
0,37.0,1940,1977.0,40.00%,750,3475.41,Macallan,"Gordon & MacPhail, Speyside Single Malt",Gordon & MacPhail,Speyside,UK
1,37.0,1940,1977.0,40.00%,750,3475.41,Macallan,"Gordon & MacPhail, Speyside Single Malt",Gordon & MacPhail,Speyside,UK
3,52.0,1946,1998.0,40.00%,700,11388.60,Macallan Select Reserve,"Original Bottling, Speyside Single Malt",Original Bottling,Speyside,UK
4,44.0,1964,2008.0,42.40%,700,13569.75,Bowmore Gold Bowmore,"Original Bottling, Islay Single Malt",Original Bottling,Islay,UK
5,12.0,1967,1979.0,54.20%,757,11647.23,Largiemeanoch,"The Whisky Connoisseur, Islay Single Malt",The Whisky Connoisseur,Islay,UK

In [64]:
df_whisky['precip'] = 0.0
df_whisky['temp'] = 0.0
df_whisky['max_t'] = 0.0
df_whisky['min_t'] = 0.0

C:\Users\jrand\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.
C:\Users\jrand\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

C:\Users\jrand\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until
C:\Users\jrand\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.

In [68]:
df_whisky = df_whisky.loc[df_whisky['vintage'] >= 1973]

In [69]:
E = 0
for i in range(len(df_whisky)):
    year = df_whisky.iat[i, 1]
    year_weather = df_weather.loc[df_weather['vintage'] == year]
    try:
        df_whisky.iat[i, 11] = year_weather.iat[0, 1]
        df_whisky.iat[i, 12] = year_weather.iat[0, 2]
        df_whisky.iat[i, 13] = year_weather.iat[0, 3]
        df_whisky.iat[i, 14] = year_weather.iat[0, 4]
    except Exception as e:
        E += 1

In [70]:
df_weather.loc[df_weather['vintage'] == 1975]

     vintage  Precipitation  Temperature  Max Temperature_y  Min Temperature_y
189     1975       2.066465    14.542544          12.185249           4.714591

In [79]:
df_whisky.drop(columns = ['bottling', 'bottler', 'loc/type', 'country', 'bottled', 'age'], inplace = True)

C:\Users\jrand\AppData\Local\Continuum\anaconda3\lib\site-packages\pandas\core\frame.py:3697: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  errors=errors)

In [85]:
df_whisky['avp'] = df_whisky['avp'].apply(lambda x: x.replace('%', ''))

C:\Users\jrand\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [94]:
df_whisky.count()

vintage    5080
avp        5080
size       5080
price      5080
name       5080
precip     5080
temp       5080
max_t      5080
min_t      5080
dtype: int64

In [95]:
df_whisky.to_csv('whisky-weather-data.csv', index = False)

In [2]:
import pandas as pd

In [10]:
df_weather = pd.read_csv('master-weather.csv').drop(columns = 'Unnamed: 0')

In [11]:
df_weather = df_weather.loc[df_weather['country'] == 'Scotland'].drop(columns = ['Max Temperature_x', 'Min Temperature_x'])

In [12]:
df_weather

,Year,Precipitation,Temperature,country,Max Temperature_y,Min Temperature_y
187,1973,2.141950,14.013066,Scotland,11.784319,4.457495
188,1974,2.341694,14.054673,Scotland,11.714397,4.680553
189,1975,2.066465,14.542544,Scotland,12.185249,4.714591
190,1976,2.173272,14.501038,Scotland,11.941980,5.118116
191,1977,2.481118,13.490555,Scotland,11.258641,4.463828
192,1978,2.462171,13.541765,Scotland,11.201490,4.680550
193,1979,2.652703,12.719561,Scotland,10.675502,4.088117
194,1980,2.650912,13.813052,Scotland,11.376634,4.872835
195,1981,2.577374,13.575082,Scotland,11.439509,4.271147
196,1982,3.212494,14.421312,Scotland,12.042976,4.756672
197,1983,2.584558,14.750515,Scotland,12.311025,4.878980
198,1984,3.089843,14.612318,Scotland,12.174690,4.875255
199,1985,3.359685,13.256264,Scotland,11.091373,4.329783
200,1986,3.019050,13.127477,Scotland,11.075865,4.103224
201,1987,2.825315,13.447738,Scotland,11.210600,4.474277
202,1988,3.128050,14.568357,Scotland,11.996207,5.144300
203,1989,2.359011,14.979557,Scotland,12.444597,5.069920
204,1990,3.187438,15.033879,Scotland,12.436622,5.194514
205,1991,2.677924,14.448131,Scotland,11.968186,4.959889
206,1992,3.213475,14.319504,Scotland,11.952037,4.734933
207,1993,2.994052,13.475824,Scotland,11.211168,4.529311
208,1994,3.240205,14.231307,Scotland,11.819682,4.823250
209,1995,2.881915,14.874824,Scotland,12.375936,4.997775
210,1996,2.757836,14.007009,Scotland,11.569619,4.874780
211,1997,2.910801,15.528761,Scotland,12.706444,5.644632
212,1998,3.320337,14.784722,Scotland,12.093176,5.383093
213,1999,2.913933,15.033238,Scotland,12.301210,5.464058
214,2000,4.034402,14.779257,Scotland,12.240619,5.077275
215,2001,3.240673,14.064141,Scotland,11.798156,4.531970
216,2002,3.948140,14.807007,Scotland,12.383915,4.846183
217,2003,2.215014,14.322894,Scotland,12.837745,2.970299
218,2004,3.050601,13.555998,Scotland,12.400163,2.311669
219,2005,2.663589,14.732143,Scotland,12.471951,4.520383
220,2006,2.535937,15.203225,Scotland,12.808910,4.788629
221,2007,2.590360,14.863120,Scotland,12.537200,4.651840
222,2008,2.758543,13.284823,Scotland,12.258376,2.052894
223,2009,2.983091,14.283329,Scotland,12.380132,3.806394
224,2010,2.314736,13.537212,Scotland,11.511641,4.051143
225,2011,2.812025,15.395981,Scotland,12.695844,5.400275
226,2012,2.674559,14.098866,Scotland,11.774387,4.648958
227,2013,2.387790,14.829121,Scotland,12.308175,5.041893
228,2014,2.945972,15.711533,Scotland,12.786520,5.850028
229,2015,2.994260,14.880466,Scotland,12.378406,5.004119
230,2016,2.753506,14.281478,Scotland,11.625897,5.311161
231,2017,2.902850,14.959844,Scotland,12.153464,5.612759
232,2018,2.802020,15.352199,Scotland,12.842105,5.020187
233,2019,2.608757,NaN,Scotland,11.440845,3.594413

In [16]:
df_whisky = pd.read_csv('Whiskey_Advocate_All_scraped_KHupdate-23 Jul (Team Style Defined).csv')

In [23]:
df_whisky.dropna(subset = ['Year Distrilled', 'age in cast'], inplace = True)

In [35]:
df_whisky = df_whisky[['Year Distrilled', 'age in cast', 'ABV', 'Review Score (Points)', ' price ', 'country', 'Original Style']]

In [39]:
df_whisky.rename(columns= {
    'Year Distrilled': 'vintage',
    'age in cast': 'age',
    'Review Score (Points)':'score',
    ' price ':'price',
    'Original Style':'style'
}, inplace = True)

In [42]:
df_whisky['vintage'] = df_whisky['vintage'].astype('int32')

In [48]:
df_weather.rename(columns = {'Year':'vintage'}, inplace = True)

In [52]:
df_whisky['precip'] = 0.0
df_whisky['temp'] = 0.0

In [67]:
E = 0
for i in range(len(df_whisky_uk)):
    year = df_whisky_uk.iat[i, 0]
    year_weather = df_weather.loc[df_weather['vintage'] == year]
    try:
        df_whisky_uk.iat[i, 7] = year_weather.iat[0, 1]
        df_whisky_uk.iat[i, 8] = year_weather.iat[0, 2]
    except Exception as e:
        E += 1
print(E)

46

In [56]:
df_whisky_us = df_whisky.loc[df_whisky['country'] == 'US']

In [57]:
df_whisky_uk = df_whisky.loc[df_whisky['country'] == 'UK']

In [68]:
df_whisky_uk.loc[df_whisky_uk['vintage'] >= 1973]

,vintage,age,ABV,score,price,country,style,precip,temp,max_t,min_t
10,1976,29.0,45.40%,96,1500,UK,Single Malt Scotch,2.173272,14.501038,0.0,0.0
21,1982,22.0,50.00%,95,200,UK,Single Malt Scotch,3.212494,14.421312,0.0,0.0
22,2009,30.0,53.20%,95,400,UK,Single Malt Scotch,2.983091,14.283329,0.0,0.0
29,1973,8.0,54.40%,95,280,UK,Single Malt Scotch,2.141950,14.013066,0.0,0.0
31,2008,25.0,51.20%,95,500,UK,Single Malt Scotch,2.758543,13.284823,0.0,0.0
56,2012,35.0,48.10%,94,645,UK,Single Malt Scotch,2.674559,14.098866,0.0,0.0
58,2014,35.0,48.60%,94,1250,UK,Single Malt Scotch,2.945972,15.711533,0.0,0.0
70,1977,29.0,48.50%,94,300,UK,Single Malt Scotch,2.481118,13.490555,0.0,0.0
71,1973,32.0,41.30%,94,350,UK,Single Malt Scotch,2.141950,14.013066,0.0,0.0
77,2017,12.0,56.50%,94,130,UK,Single Malt Scotch,2.902850,14.959844,0.0,0.0
78,2017,12.0,56.50%,94,130,UK,Single Malt Scotch,2.902850,14.959844,0.0,0.0
106,1973,30.0,NaN,93,400,UK,Single Malt Scotch,2.141950,14.013066,0.0,0.0
108,1989,16.0,51.80%,93,90,UK,Single Malt Scotch,2.359011,14.979557,0.0,0.0
109,1991,18.0,61.60%,93,191,UK,Single Malt Scotch,2.677924,14.448131,0.0,0.0
110,2015,37.0,50.40%,93,1925,UK,Single Malt Scotch,2.994260,14.880466,0.0,0.0
112,2017,34.0,51.90%,93,1700,UK,Single Malt Scotch,2.902850,14.959844,0.0,0.0
115,2018,35.0,58.10%,93,989,UK,Single Malt Scotch,2.802020,15.352199,0.0,0.0
138,1983,23.0,59.80%,93,150,UK,Single Malt Scotch,2.584558,14.750515,0.0,0.0
151,1993,11.0,60.70%,93,80,UK,Single Malt Scotch,2.994052,13.475824,0.0,0.0
153,2009,30.0,57.70%,93,370,UK,Single Malt Scotch,2.983091,14.283329,0.0,0.0
155,2014,35.0,56.50%,93,3300,UK,Single Malt Scotch,2.945972,15.711533,0.0,0.0
157,2017,37.0,51.00%,93,3500,UK,Single Malt Scotch,2.902850,14.959844,0.0,0.0
171,2015,34.0,50.90%,93,2000,UK,Single Malt Scotch,2.994260,14.880466,0.0,0.0
181,1990,14.0,59.10%,93,140,UK,Single Malt Scotch,3.187438,15.033879,0.0,0.0
197,2018,28.0,42.80%,92,750,UK,Blended Scotch Whisky,2.802020,15.352199,0.0,0.0
236,2018,30.0,46.80%,92,800,UK,Single Malt Scotch,2.802020,15.352199,0.0,0.0
237,2018,30.0,46.80%,92,800,UK,Single Malt Scotch,2.802020,15.352199,0.0,0.0
238,1987,22.0,46.00%,92,110,UK,Single Malt Scotch,2.825315,13.447738,0.0,0.0
250,1974,31.0,45.40%,92,438,UK,Single Malt Scotch,2.341694,14.054673,0.0,0.0
257,2012,21.0,52.00%,92,624,UK,Single Malt Scotch,2.674559,14.098866,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...
2501,2006,5.0,46.00%,81,75,UK,Single Malt Scotch,2.535937,15.203225,0.0,0.0
2530,2005,9.0,57.50%,80,576,UK,Single Malt Scotch,2.663589,14.732143,0.0,0.0
2538,2012,12.0,54.30%,80,94,UK,Single Malt Scotch,2.674559,14.098866,0.0,0.0
2539,2014,10.0,56.60%,80,160,UK,Single Malt Scotch,2.945972,15.711533,0.0,0.0
2544,1979,26.0,57.10%,80,200,UK,Single Malt Scotch,2.652703,12.719561,0.0,0.0
2545,1992,10.0,46.00%,80,65,UK,Single Malt Scotch,3.213475,14.319504,0.0,0.0
2546,1975,30.0,54.40%,80,200,UK,Single Malt Scotch,2.066465,14.542544,0.0,0.0
2549,1993,17.0,60.50%,80,104,UK,Single Malt Scotch,2.994052,13.475824,0.0,0.0
2553,1990,15.0,52.70%,80,75,UK,Single Malt Scotch,3.187438,15.033879,0.0,0.0
2564,1981,24.0,58.00%,80,225,UK,Single Malt Scotch,2.577374,13.575082,0.0,0.0
2567,1997,10.0,58.20%,80,75,UK,Single Malt Scotch,2.910801,15.528761,0.0,0.0
2569,2008,6.0,46.00%,80,85,UK,Single Malt Scotch,2.758543,13.284823,0.0,0.0
2595,2007,5.0,61.00%,80,200,UK,Single Malt Scotch,2.590360,14.863120,0.0,0.0
2599,1976,28.0,43.00%,79,150,UK,Single Malt Scotch,2.173272,14.501038,0.0,0.0
2600,1989,16.0,50.00%,79,80,UK,Single Malt Scotch,2.359011,14.979557,0.0,0.0
2601,1991,15.0,46.00%,79,55,UK,Single Malt Scotch,2.677924,14.448131,0.0,0.0
2602,1998,8.0,46.00%,79,65,UK,Single Malt Scotch,3.320337,14.784722,0.0,0.0
2608,1990,15.0,56.30%,79,80,UK,Single Malt Scotch,3.187438,15.033879,0.0,0.0
2609,1980,24.0,58.00%,79,185,UK,Single Malt Scotch,2.650912,13.813052,0.0,0.0
2610,1986,19.0,53.80%,79,120,UK,Single Malt Scotch,3.019050,13.127477,0.0,0.0
2614,1991,13.0,59.30%,79,100,UK,Single Malt Scotch,2.677924,14.448131,0.0,0.0
2624,1990,16.0,53.80%,78,85,UK,Single Malt Scotch,3.187438,15.033879,0.0,0.0
2627,1990,14.0,46.00%,78,43,UK,Single Malt Scotch,3.187438,15.033879,0.0,0.0
2637,1997,9.0,59.90%,77,45,UK,Single Malt Scotch,2.910801,15.528761,0.0,0.0
2645,2011,25.0,43.00%,75,220,UK,Single Malt Scotch,2.812025,15.395981,0.0,0.0
2649,1982,24.0,40.00%,73,250,UK,Single Malt Scotch,3.212494,14.421312,0.0,0.0
2651,1997,9.0,45.00%,72,60,UK,Single Malt Scotch,2.910801,15.528761,0.0,0.0
2653,1998,8.0,45.00%,71,60,UK,Single Malt Scotch,3.320337,14.784722,0.0,0.0
2655,1981,25.0,55.00%,70,225,UK,Single Malt Scotch,2.577374,13.575082,0.0,0.0
2656,1992,33.0,45.00%,63,60,UK,Single Malt Scotch,3.213475,14.319504,0.0,0.0

In [75]:
df_weather = pd.read_csv('master-weather.csv').drop(columns = 'Unnamed: 0')
df_weather.head()

,Year,Precipitation,Temperature,country,Max Temperature_x,Min Temperature_x,Max Temperature_y,Min Temperature_y
0,1970,52.835442,6.706762,USA,NaN,NaN,NaN,NaN
1,1971,54.006425,6.315507,USA,NaN,NaN,NaN,NaN
2,1972,55.370983,6.309428,USA,NaN,NaN,NaN,NaN
3,1973,60.521133,6.887528,USA,NaN,NaN,NaN,NaN
4,1974,53.775142,6.713617,USA,NaN,NaN,NaN,NaN

In [76]:
df_weather = df_weather.loc[df_weather['country'] == 'USA'][['Year', 'Precipitation', 'Temperature','country']]

In [77]:
df_weather

    Year  Precipitation  Temperature country
0   1970      52.835442     6.706762     USA
1   1971      54.006425     6.315507     USA
2   1972      55.370983     6.309428     USA
3   1973      60.521133     6.887528     USA
4   1974      53.775142     6.713617     USA
5   1975      57.845058     6.302382     USA
6   1976      47.510833     6.650062     USA
7   1977      54.328383     7.308983     USA
8   1978      53.976225     6.927932     USA
9   1979      58.355108     6.688907     USA
10  1980      51.571092     7.155951     USA
11  1981      54.797092     7.860702     USA
12  1982      60.976017     6.478369     USA
13  1983      60.596850     6.971062     USA
14  1984      55.444333     6.770080     USA
15  1985      55.136608     6.578421     USA
16  1986      56.683800     7.541757     USA
17  1987      52.630267     7.718058     USA
18  1988      47.876300     7.334408     USA
19  1989      54.378758     6.852802     USA
20  1990      59.238683     7.451196     USA
21  1991      56.847175     7.565832     USA
22  1992      56.483250     7.069146     USA
23  1993      58.932900     7.096323     USA
24  1994      55.548817     7.376862     USA
25  1995      56.570567     7.483878     USA
26  1996      58.425808     6.730627     USA
27  1997      55.711925     7.090644     USA
28  1998      59.975158     8.097573     USA
29  1999      51.955183     7.286506     USA
30  2000      52.327550     7.496298     USA
31  2001      52.536317     7.633218     USA
32  2002      52.224100     7.794915     USA
33  2003      54.820192     7.729782     USA
34  2004      58.259258     7.713543     USA
35  2005      54.752600     7.931033     USA
36  2006      53.844950     7.971669     USA
37  2007      51.983817     7.879380     USA
38  2008      55.846542     6.990187     USA
39  2009      56.327817     7.167375     USA
40  2010      55.436083     7.591250     USA
41  2011      56.063883     7.548140     USA
42  2012      52.155917     8.173909     USA
43  2013      58.490233     7.329438     USA
44  2014      57.031950     7.782370     USA
45  2015      63.465908     8.481253     USA
46  2016      57.063925     9.030837     USA

In [79]:
len(df_whisky_us)

38

In [81]:
E = 0
for i in range(len(df_whisky_us)):
    year = df_whisky_us.iat[i, 0]
    year_weather = df_weather.loc[df_weather['Year'] == year]
    try:
        df_whisky_us.iat[i, 7] = year_weather.iat[0, 1]
        df_whisky_us.iat[i, 8] = year_weather.iat[0, 2]
    except Exception as e:
        E += 1
print(E)

15

In [85]:
df_whisky_us = df_whisky_us.loc[df_whisky_us['vintage'] >= 1970]

In [86]:
df_whisky_us = df_whisky_us.loc[df_whisky_us['vintage'] <= 2016]

In [87]:
df_whisky_us

,vintage,age,ABV,score,price,country,style,precip,temp,max_t,min_t
3006,1984,22.0,68.35%,96,175,US,Rye Whisky,55.444333,6.770080,0.0,0.0
3007,2012,18.0,45.00%,95,70,US,Rye Whisky,52.155917,8.173909,0.0,0.0
3011,2005,18.0,45.00%,95,50,US,Rye Whisky,54.752600,7.931033,0.0,0.0
3691,1991,17.0,47.00%,96,90,US,Bourbon,56.847175,7.565832,0.0,0.0
3715,2013,18.0,45.00%,95,70,US,Bourbon,58.490233,7.329438,0.0,0.0
3733,2012,17.0,45.00%,94,70,US,Bourbon,52.155917,8.173909,0.0,0.0
3734,2013,17.0,45.00%,94,70,US,Bourbon,58.490233,7.329438,0.0,0.0
3776,2010,10.0,63.90%,93,80,US,Bourbon,55.436083,7.591250,0.0,0.0
3840,2016,7.0,50.50%,92,100,US,Bourbon,57.063925,9.030837,0.0,0.0
3860,1997,12.0,47.50%,91,50,US,Bourbon,55.711925,7.090644,0.0,0.0
3861,2013,12.0,49.00%,91,55,US,Bourbon,58.490233,7.329438,0.0,0.0
3886,1993,17.0,45.00%,90,47,US,Bourbon,58.932900,7.096323,0.0,0.0
3890,1991,13.0,45.40%,90,60,US,Bourbon,56.847175,7.565832,0.0,0.0
3897,2011,12.0,50.90%,90,90,US,Bourbon,56.063883,7.548140,0.0,0.0
3901,2016,20.0,57.10%,90,600,US,Bourbon,57.063925,9.030837,0.0,0.0
3951,1989,21.0,45.00%,89,47,US,Bourbon,54.378758,6.852802,0.0,0.0
3997,1991,19.0,45.00%,88,47,US,Bourbon,56.847175,7.565832,0.0,0.0
4004,2006,17.0,45.00%,88,55,US,Bourbon,53.844950,7.971669,0.0,0.0
4012,1993,13.0,48.00%,88,35,US,Bourbon,58.932900,7.096323,0.0,0.0
4014,2015,12.0,50.00%,88,75,US,Bourbon,63.465908,8.481253,0.0,0.0
4132,2014,12.0,48.50%,85,60,US,Bourbon,57.031950,7.782370,0.0,0.0
4182,1993,12.0,48.00%,83,40,US,Bourbon,58.932900,7.096323,0.0,0.0
4264,1990,24.0,50.00%,78,250,US,Bourbon,59.238683,7.451196,0.0,0.0

In [92]:
df = pd.concat([df_whisky_uk, df_whisky_us]).drop(columns = ['min_t', 'max_t'])

In [94]:
df = df.loc[df['precip'] > 0]

In [96]:
df.to_csv('whisky_advocate_weather.csv', index = False)