In [2]:
import pandas as pd

READ IN STATIONS

In [59]:
df = pd.read_csv('concated_stations.csv')

In [60]:
df.head()

        Day  Max Temperature  Min Temperature  Precipitation           id
0  1/1/1973             11.1             10.0            9.3  EI000003953
1  1/2/1973             11.9              9.8            3.3  EI000003953
2  1/3/1973             11.2              8.8            2.0  EI000003953
3  1/4/1973             11.4              9.7            0.0  EI000003953
4  1/5/1973             11.1              6.6            0.0  EI000003953

SEPARATE BY COUNTRY

In [61]:
station = pd.read_csv('station-ids.csv')

In [62]:
station =station.rename(columns={'station_id':'id'})

In [63]:
list(df)

['Day', 'Max Temperature', 'Min Temperature', 'Precipitation', 'id']

In [64]:
df = pd.merge(df,station, on='id')

In [65]:
df = df[['Day', 'Max Temperature', 'Min Temperature','Precipitation', 'country']]

In [66]:
for i in range(len(df)):
    df.iat[i, 0] = df.iat[i, 0].split('/')[-1]

In [67]:
ie = df[df['country']=='IE']
gb = df[df['country']=='GB']

GROUP TOGETHER

In [68]:
ie=ie.groupby('Day').mean()

In [69]:
gb=gb.groupby('Day').mean()

In [70]:
ie['Temperature']=''
for i in range(len(ie)):
    ie['Temperature'][i]=ie['Max Temperature'][i]+ie['Min Temperature'][i]/2

/Users/Elsa/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [71]:
ie.head()

      Max Temperature  Min Temperature  Precipitation Temperature
Day
1973        13.288645         6.775138       2.817285     16.6762
1974        12.876537         6.284206       3.283049     16.0186
1975        13.703651         6.907223       2.467413     17.1573
1976        13.436857         6.592982       2.862280     16.7333
1977        13.464557         6.934298       3.227780     16.9317

In [72]:
gb['Temperature']=''
for i in range(len(ie)):
    gb['Temperature'][i]=gb['Max Temperature'][i]+gb['Min Temperature'][i]/2

/Users/Elsa/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [74]:
gb.head()

      Max Temperature  Min Temperature  Precipitation Temperature
Day
1973        11.784319         4.457495       2.141950     14.0131
1974        11.714397         4.680553       2.341694     14.0547
1975        12.185249         4.714591       2.066465     14.5425
1976        11.941980         5.118116       2.173272      14.501
1977        11.258641         4.463828       2.481118     13.4906

In [75]:
ie.to_csv("Ireland_cleaned.csv")

In [76]:
gb.to_csv("Scotland_cleaned.csv")