In [19]:
import pandas as pd

READ IN STATIONS

In [20]:
df = pd.read_csv('clean-data/station_data/concated_stations.csv')

In [21]:
df.head()

        Day  Max Temperature  Min Temperature  Precipitation           id
0  1/1/1973             11.1             10.0            9.3  EI000003953
1  1/2/1973             11.9              9.8            3.3  EI000003953
2  1/3/1973             11.2              8.8            2.0  EI000003953
3  1/4/1973             11.4              9.7            0.0  EI000003953
4  1/5/1973             11.1              6.6            0.0  EI000003953

In [22]:
list(df)

['Day', 'Max Temperature', 'Min Temperature', 'Precipitation', 'id']

GET NAMES OF IDS + COUNTRIES

In [23]:
stations={}
stations['id']=df['id'].unique()
stations['id']

array(['EI000003953', 'EI000003969', 'EIE00107762', 'EIE00107808',
       'EIM00003955', 'EIM00003962', nan, 'EIM00003976', 'UK000003162',
       'UK000070765', 'UKM00003017', 'UKM00003066', 'UKM00003091',
       'UKM00003171', 'UKM00003917'], dtype=object)

In [24]:
countries = pd.read_csv('clean-data/station_data/station-ids.csv')

In [25]:
list(countries)

['station_id',
 'station_name',
 'lat',
 'long',
 'state',
 'country',
 'units',
 'elevation(m)']

In [26]:
stations['country']=[]
for i in stations:
    for j in range(len(countries)):
        if i == countries['station_id'][j]:
            stations['country'].append(countries['country'][j])

In [27]:
stations

{'id': array(['EI000003953', 'EI000003969', 'EIE00107762', 'EIE00107808',
        'EIM00003955', 'EIM00003962', nan, 'EIM00003976', 'UK000003162',
        'UK000070765', 'UKM00003017', 'UKM00003066', 'UKM00003091',
        'UKM00003171', 'UKM00003917'], dtype=object), 'country': []}

GET YEARS ARRAY

In [28]:
years = []
for i in range(len(df)):
    year = df['Day'][i][-4:]
    if year not in years: 
        years.append(year)

In [29]:
years

['1973',
 '1974',
 '1975',
 '1976',
 '1977',
 '1978',
 '1979',
 '1980',
 '1981',
 '1982',
 '1983',
 '1984',
 '1985',
 '1986',
 '1987',
 '1988',
 '1989',
 '1990',
 '1991',
 '1992',
 '1993',
 '1994',
 '1995',
 '1996',
 '1997',
 '1998',
 '1999',
 '2000',
 '2001',
 '2002',
 '2003',
 '2004',
 '2005',
 '2006',
 '2007',
 '2008',
 '2009',
 '2010',
 '2011',
 '2012',
 '2013',
 '2014',
 '2015',
 '2016',
 '2017',
 '2018',
 '2019']

FIND AVERAGE BY YEAR AND STATION

In [32]:
df.head()

        Day  Max Temperature  Min Temperature  Precipitation           id
0  1/1/1973             11.1             10.0            9.3  EI000003953
1  1/2/1973             11.9              9.8            3.3  EI000003953
2  1/3/1973             11.2              8.8            2.0  EI000003953
3  1/4/1973             11.4              9.7            0.0  EI000003953
4  1/5/1973             11.1              6.6            0.0  EI000003953

In [33]:
for i in range(len(df)):
    df.iat[i, 0] = df.iat[i, 0].split('/')[-1]

In [35]:
df.groupby('Day').mean()

      Max Temperature  Min Temperature  Precipitation
Day
1973        12.263806         5.257441       2.454558
1974        12.118335         5.282281       2.807041
1975        12.754090         5.623249       2.266248
1976        12.507556         5.719456       2.512850
1977        12.242508         5.570935       2.847908
1978        12.205441         5.975528       2.730645
1979        11.472482         5.040128       2.930052
1980        12.044991         5.873619       2.955688
1981        12.189861         5.611928       2.840800
1982        12.930045         5.810115       3.424790
1983        12.903397         5.958614       2.839791
1984        13.018521         5.663190       3.107118
1985        11.901905         5.316959       3.409256
1986        11.712122         4.932595       3.267492
1987        12.132567         5.528822       2.936852
1988        12.553896         5.947758       3.298799
1989        13.192171         6.140901       2.729786
1990        13.290999         6.307676       3.273989
1991        12.767878         6.055496       2.881511
1992        12.730629         5.844257       3.253219
1993        12.348681         5.782698       3.268844
1994        12.660963         6.043025       3.521705
1995        13.454204         6.322211       3.165980
1996        12.476983         5.864529       3.148718
1997        13.485568         6.782637       3.184348
1998        13.072794         6.597606       3.624370
1999        13.131844         6.556260       3.385868
2000        12.982847         6.202645       3.955381
2001        12.803838         5.790411       3.207224
2002        13.171032         6.133575       4.080765
2003        13.614171         5.313018       2.558895
2004        13.244792         5.047636       3.138457
2005        13.338015         6.156997       3.077713
2006        13.607059         6.292657       3.299357
2007        13.686525         6.351701       3.107598
2008        13.147440         4.734123       3.556326
2009        13.077353         5.664925       3.764225
2010        12.025111         4.671878       2.760196
2011        13.151489         6.090832       3.370244
2012        12.502420         5.622392       3.172788
2013        13.064791         6.316598       2.850967
2014        13.546674         6.764809       3.402725
2015        13.050376         5.994503       3.637543
2016        13.040545         6.387178       3.002006
2017        13.327409         6.632590       3.074495
2018        13.375515         6.351655       3.095805
2019        11.440845         3.594413       2.608757

In [ ]:
df.to_csv("clean-data/station_data/avg_")